
*{
margin: 0;
padding: 0;
overflow: hidden;
}
.outline{
display: flex;
 height: 3rem;
  width: 100%;
  background-color: blue;
}
 a .download{
  
  float: right;
  
  color: aquamarine;
  
}
.intro{
  background-color: gray;
  list-style: none;
  width:60rem;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: right;
  
  
  
}
.navbar .download{
  float:right;
}


.navbar{
  width: 100%;
  background-color: antiquewhite;
  overflow: hidden;
}
.navbar ul{
  display: flex;
  
  list-style: none;

}
.navbar ul li{
  text-decoration: none;
}
.navbar ul li a{
  float: left;
 display: block;
  margin-left: 1rem;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  display: flex;
  align-items: center;
  height:100vh;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: aqua;
}