
*{
margin: 0;
padding: 0;
overflow: hidden;
}
.outline{
display: flex;
 height: 3rem;
  width: 100%;
  
}
 
  

.intro{
  background-color: gray;
  list-style: none;
  width:80rem;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   text-align: right;
   padding-right: none;
  
  
  
}



.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(28, 27, 27, 0.872);
  padding-left: 1rem;
  padding-right: 1rem;

  
}
.navbar .Left{
  display: flex;
  
}
.Left .box{
  display: flex;
  border: solid;
  border-width: 1px;
  border-radius: 2rem;
  border-color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar .Left a, .navbar .Right a{
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.flex{
  display: flex;
  
 
  
  
}
.main{
  display: flex;
  align-items: center;
  height:100vh;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: aqua;
}